<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền cho camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Quyền cho Android 6 đến Android 12 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Quyền cho Android 13 trở lên -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Quyền chọn lọc ảnh/video trên Android 14 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"
        android:minSdkVersion="34" />

    <application
        android:name=".application.PhotoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperPhoto"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TemplateVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.EditVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LipSyncActivity"
            android:exported="false" />
        <activity
            android:name=".splash.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>